#{
 margin: 0;
padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(backg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 30px;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%`;
    padding: 15px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: grey;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

.ctn-button {
    padding: 1rem 2rem;
    background-color: black;
    border: none;
    border-radius: 1000px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctn-button::after {
    content: '';
    position: absolute;
    height: 10.5%;
    width: 12%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, blue, purple);
    background-color: red;
    z-index: -1;
}

.ctn-button:hover {
    z-index: 0;
    box-shadow: 40px 0 100px blue, -40px 0 100px purple;
}